@import "tailwindcss";

@theme {
  --color-dark: #0a0a0a;
  --color-amber-400: #f59e0b;
  --color-amber-300: #fbbf24;
}

body {
  overflow-y: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
