SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://postgres:password@db.ejqpnxagsyuxeariycif.supabase.co:6543/postgres?pgbouncer=true
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://infaanburgersupreme.vercel.app,http://localhost:5173
