SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://neondb_owner:your_password_here@ep-rough-water-axtg7y3v-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://infaanburgersupreme.vercel.app,http://localhost:5173
